﻿
@{
    ViewBag.Title = "BitBucketIntegration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>BitBucketIntegration</h2>
<div>
    <label>Enter Bit Bucket Json</label><br />
    <input type="text" value="" id="txtBitBucket" /><br /><br />
    <button type="button" id="btnBitBucket" onclick="btnBitBucketClick()">Bit Bucket</button>
</div>
@section Scripts{
<script type="text/javascript">

    function btnBitBucketClick() {
        $.ajax({
            url: '/Home/BitBucketJson',
            async: false,
            type: 'POST',
            data: JSON.stringify({ bitBucketJson: $("#txtBitBucket").val() }),
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            success: function (data) { alert(data); }
        });
    }
    </script>
    
}

